## https://www.tutorialspoint.com/how-to-create-a-split-screen-50-50-with-css

body {

	font-family: Arial;

	background-color: pink;

}

.left, .right {
	
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Text/Wrapping_Text
*/

white-space: -moz-pre-wrap; /* Firefox */
white-space: -pre-wrap; /* ancient Opera */
white-space: -o-pre-wrap; /* newer Opera */
white-space: pre-wrap; /* Chrome; W3C standard */
word-wrap: break-word; /* IE */

/*
##	white-space: pre;

##	word-wrap: break-word;
*/

	height: 100%;

	width: 50%;

	position: fixed;

	z-index: 1;

	top: 0;

	overflow-x: hidden;

	padding-top: 20px;

	font-size: 24px;

	padding:20px;

	color: pink;

}

.left {

	left: 0;

	background-color: rgb(36, 0, 95);

 padding-top: 75px;
/*  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
*/
}

.right {
 padding-top: 75px;
	right: 0;

	background-color: rgb(56, 1, 44);

}

.centered {

	position: absolute;

	top: 50%;

	left: 50%;

	transform: translate(-50%, -50%);

	text-align: center;

}

.centered img {

	width: 150px;

	border-radius: 50%;

}